# Do not remove this line, otherwise mod_rewrite rules will stop working
#RewriteBase /

Options +FollowSymlinks
RewriteEngine On

# CUANDO SE SUBA AL SERVIDOR DESCOMENTAR ESTAS LINEAS
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://www.caribetour.es/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^caribetour.es [NC]
RewriteRule ^(.*)$ http://www.caribetour.es/$1 [R=301,L]
#RewriteRule ^admin/.*$ - [PT]
RewriteRule ^admin/?.*$ vista/backend/
RewriteRule ^/?$ vista/frontend/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index.php/?$ vista/frontend/index.php
RewriteRule ^inicio/?$ vista/frontend/index.php
RewriteRule ^servicios/?$ vista/frontend/servicios.php
RewriteRule ^paises/?$ vista/frontend/paises.php
RewriteRule ^paises/([a-z-]+)/?$ vista/frontend/categorias.php?slugCat=$1
RewriteRule ^paises/([a-z-]+)/([a-z-]+)/?$ vista/frontend/categoria-hija.php?slugCat=$2
RewriteRule ^paises/([a-z-]+)/([a-z-]+)/pag=([0-9]+)?$ vista/frontend/categoria-hija.php?slugCat=$2&pag=$3
RewriteRule ^paises/([a-z-]+)/([a-z-]+)/([a-z-]+)/?$ vista/frontend/destino.php?slugProduc=$3
RewriteRule ^paises/([a-z-]+)/([a-z-]+)/([a-z-]+)/fecha=([0-9-]+)?$ vista/frontend/destino.php?slugProduc=$3&fecha=$4
RewriteRule ^blogs/?$ vista/frontend/blogs.php
RewriteRule ^blogs/pag=([0-9]+)?$ vista/frontend/blogs.php?pag=$1
RewriteRule ^blogs/([a-z-]+)/?$ vista/frontend/blog-datos.php?slugBlog=$1
RewriteRule ^galeria/?$ vista/frontend/galeria.php
RewriteRule ^galeria/pag=([0-9]+)?$ vista/frontend/galeria.php?pag=$1
RewriteRule ^contactos/?$ vista/frontend/contacto.php
RewriteRule ^legal/?$ vista/frontend/legal-lista.php
RewriteRule ^legal/([a-z-]+)/?$ vista/frontend/legal-datos.php?idLegal=$1
RewriteRule ^resultado.php$ vista/frontend/resultado.php
RewriteRule ^plantilla/?$ vista/frontend/plantilla.php
